<!DOCTYPE HTML>
<html>
<head>
    <title>Урмарский помощник</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="webjars/jquery-ui/1.13.3/jquery-ui.min.css">
    <script src="webjars/jquery/3.6.1/jquery.min.js"></script>
    <script src="webjars/jquery-ui/1.13.3/jquery-ui.min.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
<a class="ui-button ui-widget ui-corner-all" href="/trips">Поиск попутки</a>
<a class="ui-button ui-widget ui-corner-all" href="/trip-create">Опубликовать поездку</a>
</body>
</html>
</html>